
body {
    margin: 0px;
    font-family: 'Lato', Arial;
    color: #2E3233;
    background: #E2E3DF;
}

#panel-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
}

#intro-title {
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}




#intro-container {
    position: absolute;
    top: 50%;
    margin-top: calc(-216px/2);
    left: 50%;
    margin-left: calc(-468px/2);
}

#person-body {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: #2E3233;
    margin-left: 200px;
    margin-top: 220px;
    position: absolute;
}

#person-head {
    width: 175px;
    height: 200px;
    background: #2E3233;
    border-radius: 87.5px / 100px;
    margin-left: 212.5px;
    position: absolute;
}

.person-arm {
    height: 45px;
    width: 230px;
    background: #2E3233;
    border-radius: 20px;
    margin-top: 235px;
    position: absolute;
    transition: 0.3s;
}

#person-arm-left {
    transform: rotate(-30deg);
/*    transform-origin: 215px 0px;*/
    transform-origin: 200px 10px;
}

  #person-arm-right {
    transform: rotate(30deg);
    margin-left: 370px;
    transform-origin: 30px 10px;
}

#person-neck {
    height: 30px;
    width: 35px;
    position: absolute;
    margin-top: 195px;
    margin-left: 282.5px;
    background: #2E3233;
}



#person-container {
    width: 605px;
    height: 620px;
    position: absolute;
    top: 50%;
    margin-top: calc(-620px/2);
    left: 50%;
    margin-left: calc(-605px/2);
}

.person-hand {
    background: #CAF200;
    height: 50px;
    width: 50px;
    margin-left: -50px;
    border-radius: 20px;
    position: absolute;
}

.person-finger {
    position: absolute;
    width: 35px;
    height: 10px;
    border-radius: 7.5px;
    margin-left: -20px;
    background: #2E3233;
    transform-origin: right;
}

#person-finger-1 {
    transform: rotate(45deg);
    margin-left: -5px;
    height: 12.5px;
    width: 30px;
}

#person-finger-2 {
    margin-top: 5px;
    transform: rotate(10deg);
}

#person-finger-3 {
    transform: rotate(0deg);
    margin-top: 15px;
}

#person-finger-4 {
    margin-top: 25px;
    transform: rotate(-7.5deg);
}

#person-finger-5 {
    margin-top: 35px;
    transform: rotate(-15deg);
}

#person-hand-right {
    transform: rotateY(180deg);
    margin-left: 230px;
}

.move-arm-left {
    animation: move-arm-left 1s ease-in-out forwards;
    -webkit-animation: move-arm-left 1s ease-in-out forwards;
    -moz-animation: move-arm-left 1s ease-in-out forwards;  
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
}

@keyframes move-arm-left {
    0% {
        transform: rotate(-30deg);
    } 50% {
        transform: rotate(30deg);
    } 100% {
        transform: rotate(-30deg);
    }
}

@-webkit-keyframes move-arm-left {
    0% {
        -webkit-transform: rotate(-30deg);
    } 50% {
        -webkit-transform: rotate(30deg);
    } 100% {
        -webkit-transform: rotate(-30deg);
    }
}

@-moz-keyframes move-arm-left {
    0% {
        -moz-transform: rotate(-30deg);
    } 50% {
        -moz-transform: rotate(30deg);
    } 100% {
        -moz-transform: rotate(-30deg);
    }
}

.move-arm-right {
    animation: move-arm-right 1s ease-in-out forwards;
    -webkit-animation: move-arm-right 1s ease-in-out forwards;
    -moz-animation: move-arm-right 1s ease-in-out forwards;  
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
}

@keyframes move-arm-right {
    0% {
        transform: rotate(30deg);
    } 50% {
        transform: rotate(-30deg);
    } 100% {
        transform: rotate(30deg);
    }
}

@-webkit-keyframes move-arm-right {
    0% {
        -webkit-transform: rotate(30deg);
    } 50% {
        -webkit-transform: rotate(-30deg);
    } 100% {
        -webkit-transform: rotate(30deg);
    }
}

@-moz-keyframes move-arm-right {
    0% {
        -moz-transform: rotate(30deg);
    } 50% {
        -moz-transform: rotate(-30deg);
    } 100% {
        -moz-transform: rotate(30deg);
    }
}



#training-button {
    font-size: 22px;
}


#buttons-panel {
    position: absolute;
    width: 100%;
    text-align: center;
    /*bottom: 40px;*/
    bottom: 100px;
    font-weight: 300;
    display: none;
}



#person-body-overlay {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: linear-gradient(top, rgba(0, 0, 0, 0) 10%, #E2E3DF 30%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%, #E2E3DF 30%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, #E2E3DF 30%);
}

#command-label {
    font-size: 80px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-weight: 300;
}

#estimate-bar {
    width: 500px;
    height: 30px;
    background: rgba(81, 91, 94, .5);
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

#bar-container {
    position: absolute;
    width: 100%;
/*    bottom: 150px;*/
    bottom: 350px;
}

#estimate-indicator {
    width: 15px;
    height: 60px;
    left: calc(485px/2);
    margin-top: -15px;
    background: rgba(202, 242, 0, .6);
    position: absolute;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#command-container {
    position: absolute;
    top: 100px;
    /*top: 20px;*/
    width: 100%;
    z-index: 999;
}

.bar-threshold {
    width: 10px;
    height: 30px;
    position: absolute;
    background: #CAF200;
}

#bar-threshold-left {
    left: 0;
}

#bar-threshold-right {
    right: 0;
}

#bar-center {
    height: 30px;
    width: 5px;
    position: absolute;
    background: #2E3233;
    left: 50%;
    margin-left: calc(-5px/2);
}



#classifying-panel {
    position: absolute;
    left: 50%;
    margin-left: calc(-800px/2);
    top: 50%;
    margin-top: calc(-202px/2);
    z-index: 999;
    height: auto;
    width: 800px;
}

.panel-title {
    font-size: 80px;
    font-weight: 500;
    margin: 0px auto;
}

.panel-subtitle {
    padding-top: 10px;
    font-size: 80px;
    font-weight: 300;
}



#pause-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-182px/2);
    margin-left: calc(-229px/2);
    z-index: 999;
    height: auto;
    width: auto;
}

#done-panel {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-569px/2);
    margin-top: calc(-202px/2);
}



.button {
    border-radius: 3px;
    background: #515B5E;
    color: white;
    transition: 0.3s;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background: #2E3233;
    color: #CAF200;
}

#go-home-panel {
    position: absolute;
    top: 50;
    left: 50;
    display: none;
    z-index: 999;
}

#go-home-button {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.bar-container-play {
    top: 50%;
}

#setup-head {
    height: 600px;
    width: 500px;
    background: #2E3233;
    border-radius: 250px / 300px;
}

.setup-electrode {
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background: rgba(222, 104, 104, 1);
    margin-right: 40px;
    margin-bottom: 40px;
    transition: .3s;
    -webkit-transition: .3s;
}
.setup-electrode-good {
    background: #78c272;
}
.setup-electrode:nth-child(3n) {
    margin-right: 0px;
}
.setup-electrode:nth-last-child(1), 
.setup-electrode:nth-last-child(2), 
.setup-electrode:nth-last-child(3) {
    margin-bottom: 0px;
}

#setup-electrode-container {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-320px/2);
    margin-left: calc(-320px/2);
}

#setup-electrode-n {
    background: #2E3233;
}

#setup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
}

#setup-nose {
    width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 80px solid #2E3233;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: calc(-100px/2);
}

.learn-paragraph {
    line-height: 200%;
    font-size: 28px;
    text-align: justify;
    width: 100%;
    margin-bottom: 20px;
}
.learn-paragraph:last-child {
    margin-bottom: 0px;
}



#learn-title {
    margin-top: 40px;
}

#learn-subtitle {
    margin-bottom: 40px;
    font-size: 70px;
}

.learn-menu-item {
    display: inline-block;
    font-size: 30px;
    width: 200px;
    height: 80px;
    line-height: 80px;
    transition: 0.3s;
}
.learn-menu-item:hover {
    background: rgba(202, 242, 0, .6);
}

#learn-menu {
    text-align: center;
    border-top: 3px solid #515B5E;
    border-bottom: 3px solid #515B5E;
}

#learn-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: calc(-1200px/2);
}

#learn-menu-item-indicator {
    background: rgba(81, 91, 94, 0.2);
    color: rgba(202, 242, 0, 1);
    width: 200px;
    height: 80px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: absolute;
    top: 3px;
}



.learn-tab {
    display: none;
}

.learn-tab-active {
    display: block !important;
}

.learn-paragraph-photo {
    
    float: left;
}

.photo {
    width: 100%;
    height: 100%;
}
